<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
  		<typeAlias alias="User" type="com.thinklab.platform.web.homesite.model.User" />
  	</typeAliases>
  	<!-- mapper xml files -->
  	<mappers>
    	<mapper resource="mybatis/user/user.xml"/>
  	</mappers>
</configuration>